<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shouxindao.testanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ZhenAnimationActivity" />
        <activity android:name=".BetweenAnimationActivity" />
        <activity android:name=".PropertyAnimatiorActivity" />
        <activity android:name=".SnowFlakeActivity" />
        <activity android:name=".BezierActivity" />
        <activity android:name=".BzAnimationActivity" />
        <activity android:name=".MoveAnimationActivity" />
        <activity android:name=".TestFoucusActivity" />
        <activity
            android:name=".FlyBirdActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".TestViewFlipperActivity" />
        <activity android:name=".TestCircleButtonActivity" />
        <activity android:name=".DynamicActivity" />
        <activity android:name=".TestRecyclerForPositionActivity" />
        <activity android:name=".TestKotlinActivity" />
        <activity android:name=".TestViewPagerActivity" />
        <activity android:name=".TestSlideMenuActivity" />
        <activity android:name=".UtilSlideMenuActivity" />
        <activity android:name=".BasinAnimationActivity" />
        <activity android:name=".WeatherAnimationActivity" />
        <activity android:name=".CircleScaleActivity" />
        <activity android:name=".WaterChangeActivity"></activity>
    </application>

</manifest>